@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
html {
	scroll-behavior: smooth;
}
body	{
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #505962;
}
.navbar	{
	text-transform: uppercase;
	font-weight: 500;
	font-size: .9rem;
	letter-spacing: 0rem;
	padding-right: 3rem;
	background: rgb(0,0,0,1) !important;
}
.navbar-brand img {
	height: 3.5rem;
	padding-left: 3rem;
	/*margin-top: 1.3rem;*/
}
.navbar-brand img svg.svg-inline--fa:hover	{
	color: #c04f74ff;
}

.navbar-nav li {
	padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link	{
	color: white;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color:#c04f74ff;
}

.navtextblack li a	{
	color: white;
	background-color: #c04f74ff;
}

.paraimg1, .paraimg2, .paraimg3, .paraimg4 {
	position: relative;
	/* opacity: 0.90; */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	background-attachment: fixed;
}

.paraimg1 {
	background-image: url('Photos/Romnick Samalca - Background.png');
	min-height: 100%;
}
.paraimg2 {
	background-image: url('Photos/Maroon Background 2.png');
	min-height: 750px;
	/* opacity: 0.50; */
}
.paraimg3 {
	background-image: url('Photos/Black\ Background.png');
	min-height: 400px;
}
.paraimg4 {
	background-image: url('Photos/Architecture.jpg');
	min-height: 750px;
}

#home {
	/*background-image: url('Photos/Romnick Samalca - Background.png');*/
	display: table;
	height: 100vh;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text	{
	color: white;
	display: table-cell;
	/*text-align: center;*/
	vertical-align: middle;
	padding-left: 4rem;
}

.landing-text h1	{
	font-size: 400%;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0rem;
	text-shadow: .1rem .1rem .8rem black;
	/*padding-bottom: 1rem;*/
	}

.landing-text h3	{
	font-size: 150%;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 2rem;
}

.offset:before	{
	height: 5rem;
	margin-top: -5rem;
	padding-top: 7rem;
	padding-bottom: -3rem;
	content: "";
	display: block;
}

.btn-lg {
	border-width: medium;
	border-radius: 0;
	font-size: 1.1rem;
}

.aboutimg	{
	height: 250px;
	width: auto;
	padding-top: -30px;
	margin-top: -30px;
	padding-bottom: 30px;
	/* display: inline-block; */
}

h3.heading	{
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 1.9rem;

}
.LargeImage {
	padding-top: 2rem;
	margin-top: 3rem;
	/* margin-left: 20px; */
	padding-bottom: 2rem;
	color: red;
	font-weight: 550;
	text-align: center;
}
.WebImage {
	padding: 2rem;
}

.text-center {
	/* padding-top: 2rem; */
	margin-top: 2rem;
	margin-bottom: 2rem;
	/* margin-left: 20px; */
	/* color: red; */
}

.heading-underline	{
	width: 10rem;
	height: .2rem;
	background-color: #c04f74ff;
	margin: -1.5rem auto 2rem;
}

.workbg {
	/* background-color: #c04f74ff; */
	color: black;
}

.workbg h3 {
	color: black;
}
.projects	{
	overflow: hidden;
}
.projects img	{
	/* max-width: 100%; */
	width: 330px;
	height: 250px;
	transition: transform .5s ease;
}
.projects img:hover	{

	transform: scale(1.1);
	cursor: zoom-in;
}

.card-img-top	{
	display: table;
	text-align:	center;
	margin-left: 37.4%;
	height: 13rem;
	width: 13rem;
}
.card	{
	margin-top: 0rem;
	margin-bottom: 2rem;
}
.row.no-padding [class*=col-]	{
	padding: 0;
}

footer	{
	text-align: center;
	background-image: url("UI/Footer background.png");
	color: white;
}
footer img	{
	height: 7rem;
	margin: 1.5rem 0;
}

footer a {
	color: white;
}
footer svg.svg-inline--fa	{
	font-size: 3rem;
	margin: 2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover	{
	color: #c04f74ff;
}

hr.socket	{
	/* margin-bottom: 4rem; */
	border-top: .1rem solid #c04f74ff;
	width: 100%;
	padding: 1rem auto 2rem;
}

.ContactInfo img	{
	height: 250px;
	width: auto;
	padding: 15px;
}

.btn-lg {
	font-size: 1rem;
}
.btn-lg:hover {
	color: #c04f74ff;
}


/*Media Queries*/

@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 768px) {
	.landing-text	{
	padding-left: 6.5rem;
	}
	.landing-text h1	{
	font-size: 350%;
	letter-spacing: .5rem;
	}
	.landing-text h3	{
		font-size: 110%;
	}

}
@media screen and (max-width: 576px) {
	.landing-text	{
	padding-left: 5.5rem;
}
	.landing-text h1	{
	font-size: 320%;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .5rem;
	text-shadow: .1rem .1rem .8rem black;
	/*padding-bottom: 1rem;*/
	}

.landing-text h3	{
	font-size: 100%;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 2rem;
}
}




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/